<ion-header [translucent]="true" class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-back-button default-href="#"></ion-back-button>
    <ion-title>My Account</ion-title>
    <div class="ion-float-end headerBts" slot="end">
      <ion-button shape="round" routerLink="/dashboard">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboardBg pageBg"></div>

  <!-- Profile Icon -->
  <div class="profileBt">
    <ion-button shape="round">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

  <!-- User Details -->
  <div class="user-details">
    <p>{{ username }} (<span>{{ role }}</span>)</p> 
    <p>{{ email }}</p>
  </div>

  <!-- Change Language Section -->
  <div class="changeLanguageRadio">
    <h4>{{ 'SELECT_LANGUAGE' | translate }}</h4>    
    <ion-radio-group [value]="selectedLang">             
      <div class="selectedLangRadio">
        <ion-item lines="none" class="no-ripple">
          <ion-label>{{ 'ENGLISH' | translate }}</ion-label>
          <ion-radio value="en" (click)="onSelectLanguage('en')"></ion-radio>
        </ion-item>
      </div>

      <div class="selectedLangRadio"> 
        <ion-item lines="none" class="no-ripple">
          <ion-label>{{ 'ARABIC' | translate }}</ion-label>
          <ion-radio value="ar" (click)="onSelectLanguage('ar')"></ion-radio>
        </ion-item>
      </div>
    </ion-radio-group>
  </div>

  <div class="logout-button">
    <ion-button expand="full" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      {{ 'LOGOUT' | translate }}
    </ion-button>
  </div>
</ion-content>
