.image-container {
    position: relative;
    display: inline-block;
  
    .preview-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  
    .delete-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      color: red;
      font-size: 24px;
      cursor: pointer;
      background: white;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .datetime-placeholder {
    padding: 10px 15px;
    border: 1px solid var(--ion-color-light);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }

  .no-border-radius::part(content) {
    border-radius: 0 !important;
  }
  