<ion-content [fullscreen]="true">
  <div class="loginBg"></div>
  <div class="loginnoc">
    <ion-img src="../../../assets/images/noc-logo.svg"></ion-img>

    <ion-text>
      <h1>Change Password</h1>
    </ion-text>


    <form [formGroup]="passwordForm" class="loginForm">
      <div class="ionInput">
        <div class="inputlogin">
          <ion-input [type]="initailType" shape="round" fill="outline" placeholder="Current Password"
            formControlName="currentPassword"
            [ngClass]="{ 'is-invalid': (submitted && form['currentPassword'].errors) || (form['currentPassword'].touched && form['currentPassword'].errors) }"></ion-input>
          <div class="inputError" *ngIf="submitted||(form['currentPassword'].touched && form['currentPassword'].invalid)">
            <small class="form-text error-message" *ngIf="form['currentPassword'].errors"> Password is required</small>
          </div>
        </div>
      </div>

      <ion-row>
        <ion-col size="6">
          <ion-button class="resetBt" size="small" expand="block" shape="round" (click)="reset()">Reset</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="onSubmit()" class="loginBt" shape="round" size="small" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <!-- <ion-text class="textLinkLogin">Forgot password?</ion-text> -->


  </div>
</ion-content>