// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/




:root[mode="md"],
:root[mode="ios"]{
  --ion-font-family:'Merriweather', serif ;
  --ion-font-family-secondary:'Poppins', sans-serif;
  font-family:var( --ion-font-family);

  --secondaryColor:#0FA9A6;
  --yellowText:#FEDE67;
  --lightblueText:#BFB6F0;
  --formControlBorderColor:#8C7AD1;
  --whiteTextColor:#fff;

--awaitingTrialPitApproval:#87D2FF;
--customerAction:#FEDE67;
--inspectionPassed:#98C065;
--warningBt:#FEDE67;
--secondaryBt:#0FA9A6;
}