<ion-header [translucent]="true" class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-back-button default-href="#"></ion-back-button>
    <ion-title>UAE Pass Verification</ion-title>
    <div class="ion-float-end headerBts" slot="end">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboardBg pageBg"></div>
  <div class="verification-container">
    <!-- <ion-img src="/assets/images/main-icon" class="logo"></ion-img> -->
    <h2>Verifying your UAE Pass credentials...</h2>
    <p>Please wait while we verify your information.</p>
  </div>
</ion-content>
