<ion-header [translucent]="true" class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-back-button default-href="#"></ion-back-button>
    <ion-title>{{ 'uae_pass_verification' | translate }}</ion-title>
    <div class="ion-float-end headerBts" slot="end">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboardBg pageBg"></div>
  <div class="verification-container">
    <!-- <ion-img src="/assets/images/main-icon" class="logo"></ion-img> -->
    <h2>{{ 'verify_uae_credentials' | translate }}</h2>
    <p>{{ 'please_wait_verify' | translate }}</p>
  </div>
</ion-content>
